---
interface Props {
	title?: string;
}

const { title = 'Mẹo lâm sàng' } = Astro.props;
---

<aside class="medical-box medical-box--pearl">
	<p class="medical-box__title">{title}</p>
	<slot />
</aside>
